*{
	margin: 0;
	padding:0;
}
html{
    font-size: 62.5%;

}
body
{
    background-color:#ffffff;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo
{
    float: left;
    margin-left: 0.7rem;
	height: 9rem;;
    cursor: pointer;
	padding:0px 3rem;   
}
.heading
{
    text-align:match-parent;
    height: 2rem;
    font-size: 3.5rem;   
}
.subj
{
    background: #7cdedc;
    text-align: center;
    background-size: auto;
    color: #e05634c3;
    
}
.subj a
{
    border-image-outset: left;
}
.subj ul
{
    display: inline-flex;  
}

.subj ul li
{   
    list-style: none;
    width: 12rem;
    margin: 2rem;
    padding: 1.5rem;
}
.subj ul li:hover
{
    background:#ede5da;
    border-radius: 1rem;
}
.subj ul li a
{
    text-decoration: none;
    font-weight: 100;
    color:#000;
    font-size:20;
}
.subj ul li a:hover
{
    color: #90660c;
}
.subj .fa
{
    margin-right: 1.3rem;
}
.fa-angle-right
{
    float: right;
}
.menu-1
{
    display: none;
}
.subj ul li:hover .menu-1
{ 
    display: block;
    position: absolute;
    background: #ffba8f;
    margin-top: 1rem;
    margin-left: -1.5rem;
    border-radius: 1.5rem; 
    color: #0c9089;
}
.subj ul li:hover .menu-1 ul
{
    display: block;
}
.subj ul li:hover .menu-1 ul li
{
    width:12rem;
    margin: 1rem;
    padding: 1rem;
    border-bottom: 0.1rem dotted #000;
    border-radius: 0px;
    font-size: 1.2rem;
    text-align: center;
}
.menu-1 ul li a
{
    font-size: 1.5rem;
}
.menu-1 ul li a:hover
{
    font-size: 1.8rem;
}
.subj ul li:hover .menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-1 ul li:hover .sem ul
{
    display:block;
    margin-left: 1rem;   
}

@media(max-width:998px) {
    html{
        font-size: 46%;
    }
}
@media(max-width:768px) {
    html{
        font-size: 45%;
    }
}