*{
	margin: 0;
	padding:0;
}

body
{
    background-image: url("https://wallpapers.com/images/high/textured-brown-aesthetic-laptop-whud0a0dvvevcxig.webp");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo
{   
    float: left;
    margin-left: 8px;
	height: 70px;;
    cursor: pointer;
	padding:0px 6px;      
}

.name
{
    text-align:match-parent;
    height: 20px;
    font-size: 30px;   
}
.depts
{
    background: #7cdedc;
    text-align: center;
    background-size: auto;
    color: #bc3e1ec3;
    
}
.depts a
{
    border-image-outset: left;
}
.depts ul
{
    display: inline-flex;  
}

.depts ul li
{   
    list-style: none;
    width: 120px;
    margin: 20px;
    padding: 15px;
}
.depts ul li:hover
{
    background:#ede5da;
    border-radius: 10px;
}
.depts ul li a
{
    text-decoration: none;
    font-weight: 100;
    color:#000;
    font-size:18;
}
.depts ul li a:hover
{
    color: #90660c;
}
.depts .fa
{
    margin-right: 13px;
}
.fa-angle-right
{
    float: right;
}
.menu-1
{
    display: none;
}
.depts ul li:hover .menu-1
{ 
    display: block;
    position: absolute;
    background: #cfff75;
    margin-top: 10px;
    margin-left: -15px;
    border-radius: 15px; 
    color: #0c9089;
}
.depts ul li:hover .menu-1 ul
{
    display: block;
}
.depts ul li:hover .menu-1 ul li
{
    width:120px;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px dotted #000;
    border-radius: 0px;
    font-size: 12PX;
    text-align: center;
}
.menu-1 ul li a
{
    font-size: 15px;
}
.menu-1 ul li a:hover
{
    font-size: 18px;
}
.depts ul li:hover .menu-1 ul li:last-child
{
    border-bottom: none;
}
.sem
{
    display: none;
}

.sem ul li
{
    height: 25px;
    width: 50px;
}

.menu-1 ul li:hover .sem
{ 
    display: block;
    position:absolute;
    background:#ffffff;
    margin-top: -20px;
    margin-left: 110px;
    border-radius: 15px;
}
.menu-1 ul li:hover .sem ul
{
    display:block;
    margin-left: 10px;   
}
.menu-1 ul li:hover .sem ul li
{
    width:90px;
    margin-top: 40px;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px dotted #2d8ee3;
    background: transparent;
    border-radius: 2px; 
    text-align: left;
    font-size: 15PX;
}
.sem ul li a
{
    font-size: 12px;
}
.sem ul li a:hover
{
    color: #3949ff;
    font-size: 14px;
}
.sub
{
    display: none;
}
.sub ul li
{
    height: 30px;
    width: 70px;
}
.sem ul li:hover .sub
{ 
    display: block;
    position:absolute;
    background:#eea6f7;
    margin-top: -20px;
    margin-left: 80px;
    border-radius: 15px;
}
.sem ul li:hover .sub ul
{
    display:block;
    margin: 8px;
    margin-left: 10px;
    
}
.sem ul li:hover .sub ul li
{
   
    width:90px;
    margin-top: 40px;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px dotted #000;
    background: transparent;
    border-radius: 0px; 
    text-align: center;
    font-style: bold;
}
.sub ul li a
{
    font-size: 12px;
}
.sub ul li a:hover
{
    color: #0c903f;
    font-size: 14px;
}

.subs
{
    display: none;
}
.subs ul li
{
    height: 30px;
    width: 70px;
}
.sub ul li:hover .subs
{ 
    display: block;
    position:absolute;
    background:#DAF7A6;
    margin-top: -20px;
    margin-left: 90px;
    border-radius: 25px;
}
.sub ul li:hover .subs ul
{
    display:block;
    margin: 8px;
    margin-left: 10px;
    
}
.sub ul li:hover .subs ul li
{
   
    width:90px;
    margin-top: 40px;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px dotted #000;
    background: transparent;
    border-radius: 0px; 
    text-align: center;
}

/*
.slider
{   
    margin-left: 650px;
    width: 40%;
    height: 190px;
    position: absolute;
    margin-top: 200px;
    top: 45%;
    transform: translate(-50%,-50%);
    background-image: url("https://i.ibb.co/7kjr6xJ/s.png");
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 3px black;
    animation: slider 10s infinite linear;
}
@keyframes slider
{
    0% {background-image: url("https://i.ibb.co/7kjr6xJ/s.png");}
    35% {background-image: url("https://i.ibb.co/Cb9BT44/CSE.png");}
    50% {background-image: url("https://i.ibb.co/6WJjKFJ/mech.png");}
    75% {background-image: url("https://i.ibb.co/17W9BY0/Ece.png");}
   100% {background-image: url("https://i.ibb.co/2WcLDqs/civil.png");}
}

.text
{
    margin-top: 400px;
    font-size: 25px;
    color:#f912f9  ;
}
/*